html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

$tmavaz: #172601;
$svetlaz: #456E27;
$svetlas: #E0E5E9;
$tmavas: #D4D9DF;
$hneda: #432F23;
$w: white;
$b: rgb(12, 11, 11);

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  background:
    linear-gradient(to bottom, rgb(12, 12, 12) 0%, #00000000 20%),
    linear-gradient(to top, rgb(12, 12, 12) 0%, #00000000 20%),
    url("/images/plachtak-uvod.jpg") no-repeat center/cover;
}

header {
  display: grid;
  height: 40vh;
}

.header_h {
  color: $w;
  text-shadow: 0 0 4px black;
  padding-left: 2%;
  padding-top: 15%;
}

.header_menu-theme {
  padding-top: 2%;
  background-color: $b;
}

.header_h h1 {
  font-size: 18px;
  padding-top: 20px;
}

.header_h h2 {
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  header {
    display: grid;
    height: 55vh;
    align-self: end;
  }

  .header_h {
    padding-top: 20%;
  }

  .header_h h1 {
    font-size: 22px;
    padding-top: 20px;
  }
  
  .header_h h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  header {
    display: grid;
    height: 55vh;
    align-self: end;
  }

  .header_h {
    padding-top: 20%;
  }

  .header_h h1 {
    font-size: 22px;
    padding-top: 20px;
  }
  
  .header_h h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  header {
    display: grid;
    height: 65vh;
    align-self: end;
  }

  .header_h {
    padding-top: 20%;
  }

  .header_h h1 {
    font-size: 22px;
    padding-top: 20px;
  }
  
  .header_h h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .menu-parts li {
    font-size: 20px;
    font-weight: bold;
  }

  .header {
    background:
      linear-gradient(to bottom, rgb(12, 12, 12) 0%, #00000000 20%),
      linear-gradient(to top, rgb(12, 12, 12) 0%, #00000000 20%),
      url("/images/plachtak-uvod.jpg") no-repeat center/cover;
  }

  header {
    display: grid;
    height: 90vh;
    align-self: end;
  }

  .header_menu {
    background:
      linear-gradient(to bottom, rgb(0, 0, 0) 0%, #00000000 30%),
  }


  header h1 {
    font-size: 30px;
    padding-top: 25px;
  }
}

/*menu*/

.logo {
  padding-left: 2%;
  margin: 0;
  padding-bottom: 0;
  color: $w;
  font-weight: Semi-bold 600;
  font-size: 40px;
}

.logo-box h1 {
  margin: 0;
}

.menu__checkbox {
	position: absolute;
	left: -99999px;
}

.menu-parts {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: transparent;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 40px;
  font-weight: bold;
}

.menu__toggler {
  color: $w;
  text-align: right;
  float: right;
  padding-right: 10px;
  font-size: 30px;
  padding-top: 10px;
}

.menu__item {
	border-bottom: 1px solid $w;
}

.menu__link, .fab {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: $w;
}

.fab {
  margin: 0;
  padding-bottom: 0;
  padding-top: 18px;
}

.menu__link:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: $w;
}

.menu__checkbox:checked ~ .menu-parts {
	display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: $w;
}

.menu {
  position: absolute;
  top: 0;
  right: 10px;
}



@media screen and (min-width: 900px) {
	.menu__toggler {
		display: none;
	}

	.menu-parts {
		display:flex !important;
    padding-top: 27px;
	}

	.menu__item {
		border-bottom: 0;
		border-right: 1px solid $w;
	}

  .header_menu-theme {
    background-color: $b;
  }
}

/*menu*/

/*ikony*/

.icon_pic {
  max-width: 50%;
}

.section_icons {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: $b;
  margin-bottom: 0;
  justify-content: space-around;
}

.section_icons p {
  text-align: center;
  font-size: 14px;
  color: white;
}

.section_icons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .section_icons {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*ikony*/

/*galerie*/

.knife-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 0;
}

.knife-box {
  height: 100%;
  width: 100%;
  background-color: $svetlas;
}

.knife-box p {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 0;
  margin-top: 0;
  color: $w;
}

.box-galery h2 {
  text-align: center;
  color: $w;
  margin-top: 0;
  font-size: 25px;
  padding-top: 60px;
  padding-bottom: 30px;

}

.galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 300px));
  grid-auto-rows: 200px;
  gap: 40px;
  justify-content: center;
}

.box-galery p {
  color: white;
  max-width: 800px;
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
  margin-left: auto;
  margin-right: auto;
}

.box-galery {
  background-color: $b;
  margin-top: 0;
  padding-bottom: 2%;
  padding-top: 2%;
}

/*galerie*/

/*srdicko*/

.story img {
  width: 50%;
  height: 50%;
  max-height: 400px;
  object-fit: cover;
}

.story-left {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  img {
    padding-right: 0;
    padding-left: 2%;
  }
}

.story-right {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 2%;
  padding-bottom: 2%;
  img {
    padding-right: 2%;
    padding-left: 0;
  }
}

.story p, h3, h2 {
  color: $w;
}

.story {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.story-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
}

.story {
  background:
      linear-gradient(to bottom, rgb(12, 12, 12) 0%, #00000000 20%),
      linear-gradient(to top, rgb(12, 12, 12) 0%, #00000000 20%),
      url("/images/moss-1.jpg") no-repeat center/cover;
}

.story h2 {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .story {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

/*srdicko*/

/*výroba*/

.production {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 300px));
  grid-auto-rows: 200px;
  gap: 40px;
  justify-content: center;
  padding-bottom: 5%;
}

.production-section {
  background-color: $b;
  padding-top: 2%;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.production-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 0;
  margin-bottom: 0;
}

.production-section h2 {
  text-align: center;
  font-size: 25px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.production-box p {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 800px) {
 .production {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 300px));
  grid-auto-rows: 200px;
  gap: 40px;
  justify-content: center;
  padding-bottom: 5%;
}
}

@media screen and (min-width: 1000px) {
  .production {
   display: grid;
   grid-template-columns: repeat(4, minmax(50px, 300px));
   grid-auto-rows: 200px;
   gap: 40px;
   justify-content: center;
   padding-bottom: 5%;
 }
 }
 
/*výroba*/

/*reference*/

.reference img {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reference-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
}

.reference {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.reference-person {
  max-width: 250px;

  padding-top: 2%;
}

.reference-person p {
  text-align: center;
  color: white;
  font-size: 14px;
}

.reference h2 {
  text-align: center;
  padding-bottom: 2%;
  font-size: 25px;
}

/*reference*/

/*kontakt*/

.contact {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.adress {
  text-align: left;
}

/*kontakt*/

/*formulář*/

.form-inside input,
.form-inside textarea,
.form-inside select
{
	width: 100%;
  background-color: $svetlas;
}

.form-inside2 {
  text-align: right;
  color: $w;
}

.form-inside, .contact {
  color: $w;
}

.form h3 {
  color: $w;
}

.adress a {
  color: $w;
}

.contact {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  
}

.contact-page {
  background:
  linear-gradient(to bottom, rgb(12, 12, 12) 0%, #00000000 20%),
  linear-gradient(to top, rgb(12, 12, 12) 0%, #00000000 20%),
  url("/images/background-c.jpg") no-repeat center/cover;
  padding-bottom: 50%;
}

.reference-page {
  background:
  linear-gradient(to bottom, rgb(12, 12, 12) 0%, #00000000 20%),
  linear-gradient(to top, rgb(12, 12, 12) 0%, #00000000 20%),
  url("/images/background-c.jpg") no-repeat center/cover;
  padding-bottom: 20%;
}

@media screen and (min-width: 800px) {
  .contact {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
}

.contact-reference {
  background:
      linear-gradient(to bottom, rgb(28, 25, 25) 0%, #00000000 20%),
      linear-gradient(to top, rgb(12, 12, 12) 0%, #00000000 20%),
      url("/images/background-c.jpg") no-repeat center/cover;
}

/*formulář*/

/*buttons*/

.button-secondary {
  font-size: 16px;
  background-color: $b;
  border: #D4D9DF solid 1px;
  outline: none;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: 2%;
  color: white;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: $w;
  color: $b;
  cursor: pointer;
}

.box-galery .button-secondary {
  margin-top: 60px;
}

a {
  cursor: pointer;
  text-decoration: none;
}


/*buttons*/

/*footer*/

footer {
  background-color: $b;
  color: $w;
  padding-left: 2%;
  padding-bottom: 5px;
  padding-top: 5%;
}

/*footer*/

.vyska {
  grid-row: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.plus-background {
  padding-bottom: 300px;
}

.scroll {
  display: block;
  margin-left: auto;
  margin-right: auto;

}